.salesH1{
  text-align: center;
padding-top: 40px;
}
.custominput{
  background-color: transparent;
border: 1px solid white;
border-radius: 6px;
height: 35px;
margin-top: 6px;
padding-left: 5px;
width: 95%;
}
